{% extends 'main/layout.html' %}

{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='uxdes4.css') }}"/>
{% endblock %}

{% block main_content %}

    <div class="hero">
        <h1>Karina Loranca <p><small>Jewelry Studio</small></p></h1>

        <div class="subtitle">
            Estos son nuestros Diseños
        </div>

        <div class="sub-home">

            <div class="col-md-12">

                {% for design in designs %}

                <div class="categories">

                        <img class="account-img" src="{{ url_for('static', filename='photos/' + design.image_file) }}" >

                </div>

                {% endfor %}

             </div>
        </div>

    </div>

{% endblock main_content %}
