{% extends 'main/layout.html' %}

{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='uxdes.css') }}"/>
{% endblock %}

{% block main_content %}

    <div class="hero">
        <h1>Karina Loranca <p><small>Jewelry Studio</small></p></h1>

        <div class="subtitle">
            Estos son nuestros Diseños
            <p><small><a href="{{ url_for('designs.all_designs') }}">
                o Simplemente revisa nuestros productos, y diviertete encontrando el mejor diseño para ti...
            </a></small></p>
        </div>

        <div class="sub-home">

        Coming Soon

            India
            Japan
            Spain
            France
            Maldivas

        </div>

    </div>

{% endblock main_content %}
