{% extends "main/layout.html" %}

{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='uxdesigns4.css') }}"/>
{% endblock %}

{% block main_content %}

    <div class="hero">
        <h1>Karina Loranca <p><small>Jewelry Studio</small></p></h1>

    <div class="subtitle">
           Busca entre nuestros mejores diseños de<strong> {{ category.category_name }}</strong>
            <p><small><a href="{{ url_for('main.home') }}">
                 o regresa a nuestra seccion de Categorias
            </a></small></p>
    </div>

    <div class="sub-home">
    <div class="container_category_list">

        <div class="row">
           <div class="col-md-1"></div>

            <div class="col-md-10">

            {% if get_category == products.category_id %}
                {% for p in products %}
                    <div class="categories">
                        <div class="title">
                            <a href="{{ url_for('carts.product_cart', productid=p.product_name) }}">
                                <img src="{{ url_for('static', filename='photos/' + p.image_file) }}" >
                                {{ p.product_name }}
                                <p class="price">{{ "{0:.1f}".format(p.price) }} MXN</p>
                            </a>
                        </div>
                    </div>



                {% endfor %}

                <hr>

            {% endif %}

            </div>

            <div class="col-md-1"></div>
        </div>
        </div>
    </div>
 </div>



{% endblock main_content %}
