{% extends 'main/layout.html' %}

{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='uxdes4.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='view_admin.css') }}"/>

{% endblock %}

{% block main_content %}

    <div class="container">
    {% if current_user.is_authenticated %}

    <div class="hero">
        <h1>Karina Loranca Designs</h1>

    <small>
      Todas las Fotos de Anillos de Compromiso
    </small>
    </div>

    <div class="stats">
        <div class="stat"><a href="{{ url_for('admins.index') }}"> Back to Dashboard </a></div>
        <div class="stat">{% if category_count %}<a href="{{ url_for('categories.table_categories') }}"> {{ category_count }} Categorias </a> {% endif %}</div>
        <div class="stat"> {% if product_count %} <a href="{{ url_for('products.table_products') }}">{{ product_count }} Productos</a>  {% endif %}</div>
        <div class="stat"> {% if user_count %} <a href="{{ url_for('admins.user_stats') }}">{{ user_count }} Clientes</a>  {% endif %}</div>
    </div>

        <div class="row">

            <div class="col-md-2">
                <div class="actions">
                    <h2>Fotos de Anillos de Compromiso Stats</h2>
                    <hr>
                </div>
            </div>


            <div class="col-md-10">

                <div class="content-section-admin-user">

                <legend class="border-bottom mb-2">Todos las Fotos de Anillos de Compromiso</legend>


                    <div class="table-responsive">
                        <table class="table table-sm table-condensed table-striped" id="Cart">
                            <thead>
                            <tr>
                                <th scope="col">Anillos de Compromiso</th>
                                <th scope="col">Foto</th>
                                <th scope="col">Acciones</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for a in anillos %}
                                <td scope="col"> {{ a.anillo_compromiso_name }}</td>

                                <td scope="col"><img class="category_table" src="{{ url_for('static', filename='photos/' + a.image_file) }}"> </td>

                                <td scope="col"> <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('anillos.anillo', id=a.id) }}">Detalle</a> </td>

                                <td scope="col"> <a class="btn btn-primary btn-sm m-1" href="{{ url_for('anillos.update_anillo', id=a.id) }}">Update</a> </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div class="col-md-0">
            </div>

        </div>
    {% endif %}
{% endblock main_content %}
