{% extends 'main/layout.html' %}

{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='uxdes.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='view_admin.css') }}"/>

{% endblock %}

{% block main_content %}

    <div class="container">
    {% if current_user.is_authenticated %}

    <div class="hero">
        <h1>Karina Loranca Designs</h1>

    <small>
      Estadisticas de Cliente y Estados clientes
    </small>
    </div>

    <div class="stats">
        <div class="stat"><a href="{{ url_for('admins.index') }}"> Back to Dashboard </a></div>
        <div class="stat">{% if category_count %}<a href="{{ url_for('categories.table_categories') }}"> {{ category_count }} Categorias </a> {% endif %}</div>
        <div class="stat"> {% if product_count %} <a href="{{ url_for('products.table_products') }}">{{ product_count }} Productos</a>  {% endif %}</div>
        <div class="stat"> {% if user_count %} <a href="{{ url_for('admins.user_stats') }}">{{ user_count }} Clientes</a>  {% endif %}</div>
    </div>

        <div class="row">

            <div class="col-md-2">
                <div class="actions">
                    <h2>Users Details</h2>

                    <p><small>Payed Spent Payed: {% if payed_ordered %} ${{ "{0:.1f}".format(payed_ordered) }} {% endif %}</small></p>
                    <p><small>Users Spent Ordered: {% if revenue_ordered %} ${{ "{0:.1f}".format(revenue_ordered) }} {% endif %}</small></p>
                    <p><small>Users Spent Pending: {% if revenue_pending %} ${{ "{0:.1f}".format(revenue_pending) }} {% endif %}</small></p>
                    <hr>
                </div>
            </div>


            <div class="col-md-10">

                <div class="content-section-admin-user">

                <legend class="border-bottom mb-2">Todos los Pedidos</legend>
                <a class="btn btn-primary btn-sm m-1" href="{{ url_for('admins.index') }}">Regreso al Dashboard</a> </td>
                 <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('admins.user_stats') }}">Regreso User Stats</a> </td>

                    <div class="table-responsive">
                        <table class="table table-sm table-condensed table-striped" id="Cart">
                            <thead>
                            <tr>
                                <th scope="col">Cliente</th>
                                <th scope="col">Diseño</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Total</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Acciones</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for i in items_all_status %}
                                <td scope="col"> {{ i.author.fname }}</td>
                                <td scope="col"> {{ i.product_name }}</td>
                                <td scope="col"> {{ i.quantity }} </td>
                                <td scope="col">  $ {{ "{0:.1f}".format((i.price)*(i.quantity)) }}</td>

                                <td class="status">

                                            <div class="left-box">
                                                <div class="big-circle circle">
                                                    <div class="circle-content">

                                                        {% if i.status == "pending" %} Pendiente de Ordenar {% endif %}
                                                    {% if i.order_date %} Ordenado:
                                                        {{i.order_date.strftime('%m-%d')}} {% endif %}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="right-box">
                                                <div class="circle one">
                                                    <div class="circle-content">
                                                     {% if i.status == "Payed" %} Entrega Pendiente {% endif %}
                                                    {% if i.status == "Ordered" %} Pago Pendiente {% endif %}
                                                    <p>{% if i.delivery_date %} Enviado: {{i.delivery_date.strftime('%m-%d')}} {% endif %}</p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="right-box">
                                                <div class="circle purple two">
                                                    <div class="circle-content"></div>
                                                    <div class="circle-content">
                                                        <p>{% if i.received_date %} Recibido: {{i.received_date.strftime('%m-%d')}} {% endif %}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>


                                <td scope="col"> <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Borrar</button></td>
                           <!-- Modal -->
                                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                 <div class="modal-dialog" role="document">
                                     <div class="modal-content">
                                         <div class="modal-header">
                                             <h5 class="modal-title" id="deleteModalLabel">Borrar Item?</h5>
                                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                 <span aria-hidden="true">&times;</span>
                                             </button>
                                         </div>

                                         <div class="modal-footer">
                                             <button type="button" class="btn btn-success" data-dismiss="modal">No Borrar</button>

                                             <form action="{{ url_for('admins.delete_item', item_id = i.itemid) }}" method="POST">
                                                 <input class="btn btn-danger" type="submit" value="Borrar">
                                             </form>
                                         </div>
                                     </div>
                                 </div>
                           </div>

                                <td scope="col"> <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('admins.delivery_detail', itemid=i.itemid) }}">Detalle</a> </td>




                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>


            </div>

            <div class="col-md-0">
            </div>

        </div>

    <div class="row">

            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div class="content-section-admin-user">
                    <div class="media">
                        <img class="rounded-circle" src="{{ image_file }}">
                        <div class="media-body">
                        </div>
                    </div>

                    <form method="POST" action="" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-2">Cambia la informacion de tu Cuenta</legend>
                                   <div class="form-group">
                                       {{ form.submit(class="btn btn-danger") }}Esto es una cuenta de Usuario
                                   </div>

                            <div class="form-group">
                                {{ form.fname.label(class="form-control-label") }}
                                {% if form.fname.errors %}
                                    {{ form.fname(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.fname.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.fname(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.email.label(class="form-control-label") }}
                                {% if form.email.errors %}
                                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.email(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.complete_address1.label(class="form-control-label") }}
                                {% if form.complete_address1.errors %}
                                    {{ form.complete_address1(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.complete_address1.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.complete_address1(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.zipcode.label(class="form-control-label") }}
                                {% if form.zipcode.errors %}
                                    {{ form.zipcode(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.zipcode.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.zipcode(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.phone.label(class="form-control-label") }}
                                {% if form.phone.errors %}
                                    {{ form.phone(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.phone.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.phone(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.password.label(class="form-control-label") }}
                                {% if form.password.errors %}
                                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.password(class="form-control form-control-lg") }}
                                {% endif %}
                            </div>

                            <div class="form-group">
                                {{ form.picture.label() }}
                                {{ form.picture(class="form-control-file") }}
                                {% if form.picture.errors %}
                                    {% for error in form.picture.errors %}
                                        <span class="text-danger">{{ error }}</span></br>
                                    {% endfor %}
                                {% endif %}
                            </div>

                        </fieldset>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-danger") }} Esto es una cuenta de usuario
                        </div>
                    </form>
                </div>
            </div>
    </div>

    {% endif %}
</div>
<div class="col-md-0">
</div>

{% endblock main_content %}
